@import '../../assets/styles/variables';

.game-window {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .-background-canvas {
    width: calc(#{$cellSize * $pageWidth});
    height: calc(#{$cellSize * $pageHeight});
    z-index: 1;
  }

  .game-board {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(#{$cellSize * $pageWidth});
    height: calc(#{$cellSize * $pageHeight});

    .-elements-canvas {
      background-color: $white;
      margin-left: 3vmin;
      width: calc(#{$cellSize * 3});
      height: calc(#{$cellSize * ($pageHeight - 1)});
      z-index: 2;
    }

    .grid-container {
      position: relative;
      width: calc(#{$cellSize * ($pageWidth - 4)});
      height: calc(#{$cellSize * $pageHeight});

      .-grid-canvas,
      .-blocks-canvas,
      .-target-canvas,
      .-bonus-canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(#{$cellSize * ($pageWidth - 4)});
        height: calc(#{$cellSize * $pageHeight});
      }

      .-grid-canvas {
        z-index: 2;
      }

      .-blocks-canvas {
        z-index: 3;
      }

      .-target-canvas {
        z-index: 4;
      }

      .-bonus-canvas {
        z-index: 5;
      }
    }
  }
}
