@import '../../assets/styles/variables';

.gameWindow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .-background-canvas {
    width: calc(#{$cellSize * 14});
    height: calc(#{$cellSize * 12});
    z-index: 1;
  }

  .gameBoard {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(#{$cellSize * 14});
    height: calc(#{$cellSize * 12});

    .-elements-canvas {
      background-color: white;
      margin-left: 3vmin;
      width: calc(#{$cellSize * 3});
      height: calc(#{$cellSize * 11});
      z-index: 2;
    }

    .gridContainer {
      position: relative;
      width: calc(#{$cellSize * 10});
      height: calc(#{$cellSize * 12});

      .-grid-canvas,
      .-blocks-canvas,
      .-target-canvas,
      .-bonus-canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(#{$cellSize * 10});
        height: calc(#{$cellSize * 12});
      }

      .-grid-canvas {
        z-index: 2;
      }

      .-blocks-canvas {
        z-index: 3;
      }

      .-target-canvas {
        z-index: 4;
      }

      .-bonus-canvas {
        z-index: 5;
      }
    }
  }
}
