@import '../../../assets/styles/variables';

.staticPageWindow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .-static-page-canvas {
    width: calc(#{$cellSize * 14});
    height: calc(#{$cellSize * 12});
    background-color: white;
    z-index: 1;
  }
}
