@import './variables';

.page-window {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .-page-canvas {
    width: calc(#{$cellSize * $pageWidth});
    height: calc(#{$cellSize * $pageHeight});
    background-color: $white;
    z-index: 1;
  }
}
